@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF;
}

.u-wrap a {
  border-bottom: solid 1px #EEEEEE;
}

.u-wrap a:last-child {
  border: none !important;
  color: #ed4848 !important;
}

.indi {
  position: absolute;
  right: 5px;
}